body{
  background-color: #000000;
}
#clockWrapper{
  position: absolute;
  width: 40vh;
  height: 80vh;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-top: -36vh;
  margin-left: -20vh;
}
.clock{
  background-color: #50250e;
  background: linear-gradient(84deg, #743717 0%, #31170a 76%, #9d5126 90%);
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%,20% 0%,80% 0%,100% 100%);
}
.clockSide{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%,20% 0%,80% 0%,100% 100%);
  background-color: #341606;
  left: 2vh;
  top: 0;
  background-position: 0;
  z-index: -1;
}
.clock div{
  position: relative;
}
#clockWrapper .clockTop{
  position: absolute;
  width: 90%;
  height: 5%;
  left: 7%;
  bottom: 100%;
  background-color: #723614;
  background: linear-gradient(180deg, #723614 0%, #50250d 80%, #bf602c 100%);
  z-index: 3;
  border-radius: 1vh;
  box-shadow: 0 1vh 1vh rgba(0,0,0,.4);
}
#clockWrapper .clockTop::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #723614;
  background: linear-gradient(180deg, #723614 0%, #50250d 80%, #bf602c 100%);
  z-index: 3;
  top: 120%;
  border-radius: 1vh;
  box-shadow: 0 1vh 1vh rgba(0,0,0,.4);
}
#clockWrapper .clockTop .circleTop{
  position: absolute;
  width: 80%;
  height: 200%;
  bottom: 0;
  left: 10%;
  background-color: #723614;
  background: linear-gradient(180deg, #703514 0%, #6C3313 60%, rgba(80, 37, 13, 0) 80%, rgba(191, 96, 44, 0) 100%);
  border-radius: 100%;
}
#clockWrapper .clockTop:nth-of-type(2){
  background-color: red;
  transform: scale(.96, .8);
  background: linear-gradient(180deg, #3b1a08 0%, #3b1a08 60%, rgba(80, 37, 13, 0) 80%, rgba(191, 96, 44, 0) 100%);
  box-shadow: 0 0 1.5vh rgba(0,0,0,1) inset;
  opacity: .8;
}
#clockWrapper .clockTop:nth-of-type(2) .circleTop{
  background: linear-gradient(180deg, #3b1a08 0%, #3b1a08 60%, rgba(80, 37, 13, 0) 80%, rgba(191, 96, 44, 0) 100%);
}
#clockWrapper .clockTop:nth-of-type(2)::after{
  top: 142%;
  transform: scale(1, .6);
  background: rgb(59, 26, 8);
  box-shadow: 0 0 1.5vh rgba(0,0,0,1) inset;
}
#clockWrapper .bottom{
  width: 110%;
  left: -3%;
  /*bottom: 3%;*/
  bottom: 0;
  transform: scaleY(-1);
}
.clock .clockFace{
  width: 20vh;
  height: 20vh;
  top: 8%;
  left: 9vh;
  border-radius: 50%;
  background-color: #D9D5B2;
  /*border: 1vh solid #6A6D45;*/
  box-shadow: 0 0 8vh #000000, 0 0 10vh rgba(0,0,0,.4) inset;
}
.clock .clockFace .faceBorder{
  position: absolute;
  width: 108%;
  height: 108%;
  left: -4%;
  top: -4%;
  border-radius: 50%;
  z-index: -1;
  background-color: #a59e5d;
  background: radial-gradient(#a59e5d 0%, #a59e5d 67%, #504c26 70%);
  box-shadow: -.2vh -.2vh 1vh white inset;
}
.clock .clockFace span{
  position: absolute;
  width: 70%;
  height: 70%;
  margin: 15%;
  top: 0;
  left: 0;
  cursor: default;
  transform: rotate(70deg);
  user-select: none;
}
.clock .clockFace span span{
  position: absolute;
  width: auto;
  height: auto;
  margin: 0;
  transform: rotate(-70deg) translateY(.5vh) scaleY(2);
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0,0,0,.6);
  font-weight: 900;
  font-size: 1.6vh;
  margin-left: 1.1vh;
}
.clock .clockFace span:nth-of-type(2){
  transform: rotate(100deg);
}
.clock .clockFace span:nth-of-type(3){
  transform: rotate(130deg);
}
.clock .clockFace span:nth-of-type(4){
  transform: rotate(160deg);
}
.clock .clockFace span:nth-of-type(5){
  transform: rotate(190deg);
}
.clock .clockFace span:nth-of-type(6){
  transform: rotate(220deg);
}
.clock .clockFace span:nth-of-type(7){
  transform: rotate(250deg);
}
.clock .clockFace span:nth-of-type(8){
  transform: rotate(280deg);
}
.clock .clockFace span:nth-of-type(9){
  transform: rotate(310deg);
}
.clock .clockFace span:nth-of-type(10){
  transform: rotate(340deg);
}
.clock .clockFace span:nth-of-type(11){
  transform: rotate(370deg);
}
.clock .clockFace span:nth-of-type(12){
  transform: rotate(400deg);
}
.clock .clockFace span:nth-of-type(2) span{
  transform: rotate(-100deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(3) span{
  transform: rotate(-130deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(4) span{
  transform: rotate(-160deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(5) span{
  transform: rotate(-190deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(6) span{
  transform: rotate(-220deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(7) span{
  transform: rotate(-250deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(8) span{
  transform: rotate(-280deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(9) span{
  transform: rotate(-310deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(10) span{
  transform: rotate(-340deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(11) span{
  transform: rotate(-370deg) scaleY(2);;
}
.clock .clockFace span:nth-of-type(12) span{
  transform: rotate(-400deg) scaleY(2);;
}
.clock .clockFace::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  top: calc(25% - .2vh);
  left: calc(25% - .2vh);
  border-radius: 50%;
  border: .2vh solid rgba(0,0,0,.2);
}
.clock .clockFace::before{
  content: '';
  position: absolute;
  width: 92%;
  height: 92%;
  top: calc(4% - .2vh);
  left: calc(4% - .2vh);
  border-radius: 50%;
  border: .2vh solid rgba(0,0,0,.2);
}
.clockFace .dail{
  position: absolute;
  width: 7vh;
  height: 1vh;
  top: 9.5vh;
  border-radius: 100%;
  background-color: #2a2a2a;
  z-index: 2;
  box-shadow: .8vh .8vh .2vh rgba(0,0,0,.4);
  animation-name: dailAnim;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 4s;
  animation-timing-function: linear;
}
.clockFace .circleDiv{
  width: 4vh;
  height: 4vh;
  top: 8vh;
  left: 8vh;
  border-radius: 50%;
  background-color: #2a2a2a;
  background: radial-gradient(circle at 20% 20%, #9b9b9b 0%, #1d1d1d 40%, #1d1d1d 60%, #535353 80%);
  box-shadow: .4vh .4vh .2vh rgba(0,0,0,.4);
  z-index: 4;
}
.clockFace #hourDail{
  left: 10vh;
  transform-origin: left;
}
.clockFace #minuteDail{
  right: 10vh;
  width: 9vh;
  transform-origin: right;
  animation-duration: 1s;
}
.clock .innerChamber{
  width: 26vh;
  height: 50%;
  top: 12%;
  left: 7vh;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
  clip-path: polygon(0% 100%,12% 0%,88% 0%,100% 100%);
}
.clock .innerChamber::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  box-shadow: 0 0 15vh rgba(0,0,0,1) inset;
}
.clock .innerChamber .innerFloor{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #150a03;
}
.clock .innerChamber .innerSide{
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 100%;
  background-color: #150a03;
  transform: rotate(4deg);
}
.clock .innerChamber .ringer{
  position: absolute;
  width: 1vh;
  height: 31vh;
  top: 0;
  left: 12.5vh;
  background-color: #c7b93f;
  background: linear-gradient(to left, #c7b93f, #534d12, #776e1b, #c7b93f);
  transform-origin: center -30%;
  animation-name: ringerRotate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.clock .innerChamber .ringer::before{
  content: '';
  position: absolute;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 30vh;
  left: -2vh;
  background-color: #c7b93f;
  background: linear-gradient(to left top, #c7b93f, #534d12, #776e1b, #c7b93f);
}
.clock .innerChamber .ringer::after{
  content: '';
  position: absolute;
  width: 1.4vh;
  height: 1.4vh;
  border-radius: 50%;
  top: 31vh;
  left: -1vh;
  background-color: #e6ff7c;
  filter: blur(.4vh);
}
@keyframes ringerRotate{
  0%{transform: rotate(15deg);}
  50%{transform: rotate(-15deg);}
  100%{transform: rotate(15deg);}
}
@keyframes dailAnim{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}